{% extends "blog/base.html" %}

{% block page_title %}{{ object.title }}{% endblock %}

{% block content %}
    <h4>Author - {{ object.user|default_if_none:"Anonymous" }}</h4>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {{ object.text }}
        </div>
    </div>

    <p>Created at: {{ object.pub_date }} Updated at: {{ object.change_date }}</p>
    <a type="button" class="btn btn-primary" href="{% url 'article_detail' object.id %}edit/">Edit article</a>
    <a type="button" class="btn btn-danger" href="{% url 'article_delete' object.id %}">Delete article</a>
{% endblock %}